body {
   position: relative; 
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-size:12px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top:10px;
}

.navbar-text {
   text-align:center;
}

.container{
   border:1px solid;
   border-color:darkgrey;
   color:black;
   margin-top:30px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h4 {
   color:black;
}

.nav-item {
   font-size: 30px;
   text-align: right;
}

.nav-link{
   color:white;
   text-align:right;
}

#me {
   padding-top:50px;
   height:300px;
   color: slategray; 
   background-color: black;
}

#projects {
   padding-top:50px;
   height:600px;
   color: black; 
   background-color: darkgray;
}

#skills {
   padding-top:50px;
   height:500px;
   color: darkgray; 
   background-color:slategray;
}

.container-fluid-1 {
   text-align:center
}

.container-fluid-2 {
   text-align:center;
   margin-top:0;
}

.container-fluid-3 {
   text-align:center;
}

.container-fluid-4 {
   padding-top:50px;
   height:500px;
   color:red;
   background:lightgoldenrodyellow;
   text-align:center;
}
