.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size:12px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top:10px;
}

.body {
  margin: 0 ;
  padding: 0 ;
  background-size: cover;
  background-position: center;
  font-family: sans-serif ;
  background: url(../images/streetview.jpg);  
}

.container{
   border:1px solid;
   border-color:darkgrey;
   color:black;
   margin-top:10px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

.container2 {
   border:1px solid;
   border-color:darkgrey;
   color:black;
   margin-top:10px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.page{
   border-bottom:1px solid;
   border-color:darkgrey;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h4{
   color:grey;
}

.row2 {
   text-align:center;
}

#submit_button {
   text-align: center;
   margin-left:850px;
}

.nav-item{
   font-size: 50px;
   color:black;
}